*{
    margin: 0;padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
}
nav ul li{
    list-style-type: none;
    cursor: pointer;
}
nav ul li:hover{
    color: rgb(206, 60, 60);
}
nav li button{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 10px;
}
.first-sec{
   
    margin-left: 350px;
    margin-right: 400px;
    margin-top: 100px;
    
}
.first-sec, .picture, .rose
{
    background-color:rgb(248, 246, 246);
   
}

.first-sec h1 {
    font-size: 80px;
   
   
}

.subdiv-1 ,.subdiv-2 ,.subdiv-3, .subdiv-4
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 50px;
   
    
}
.subdiv-1 ul li,.subdiv-2 ul li,.subdiv-3 ul li,.subdiv-4 ul li
{
    list-style-type: none;
}
.main-div
{
    display: flex;
    justify-content: space-between;
       
}
.picture

{
    margin-right: 350px;
    margin-left: 350px;
    margin-top: 100px;
    
    
   
}

  ul li
  {
    list-style-type: none;
   display: flex;
   justify-content: center;
   align-items: center;
   
  } 
 
 .picdiv-1 
 {
    margin-top: 150px;
}
.picdiv-1 ul button
{
    background-color: rgba(255, 255, 255, 0.656);
    padding: 5px;
    border-color: rgba(242, 241, 241, 0.834);
    width: 100px;
    height: 50px;
    margin-top: 40px;
    border-radius: 10px;
    font-size: 15px;
}

.picdiv-2
{ 
    margin-top: 50px;
    font-size: 25px;
    
} 
 .picdiv-3
 {
    display: flex;
    margin-left: 100px;
    margin-top: 50px;
   
 }
 .picdiv-4
 {
    display: flex;
    margin-left: 250px;
   
 }

 